#startbackground {
    background-image: url("../visuals/Oscar-background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
/* TOP FIXED BAR */
#navbarfixed {
    position: fixed;
    margin-top: 0px;
    z-index: 1;
    width: 100vw;
    height: 48px;
    background-color: #ffd42a00; /* #DDDDDDA0 */
}
#topbackground-strip {
    position: fixed;
    margin-top: 9px;
    border-top: 6px solid var(--secondary-color);
    border-bottom: 6px solid var(--secondary-color);
    z-index: 2;
    width: 100vw;
    height: 30px;
    background-color: var(--main-color);
}

/* HEADER */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 850px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}
.oscar-clothingtag {
    position: relative;
    left: -68px;
    margin: 0;
    padding: 6px;
    background-color: var(--third-color);
    border: 1px solid black;
}
#oscar-clothingtag-top {
    border-bottom: none;
    height: 18px;
}
#oscar-clothingtag-bottom {
    transform: rotate(180deg);
    border-bottom: 1px dashed black;
    text-decoration: none;
    display: inline-block;
    position: relative;
    top: 0px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: var(--navbar-text);
    text-transform: uppercase;
    line-height: 0.8em;
    writing-mode: vertical-rl;
    padding-bottom: 16px;
}


/* NAVIGATION */
nav {
    height: 30px;
}
header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    line-height: 1;
    height: 30px;
    margin: 0;
    padding: 0;
}
header li {
    margin: auto 0px;
    padding-left: 60px;
}
header nav a {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    color: var(--navbar-text);
    text-decoration: none;
    text-align: center;
    width: 178px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 7px 0px;
}
/* header nav ul li a:hover {
    animation-name: hovernavlink;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
@keyframes hovernavlink {
    100%    {transform-box: (1.1);}
} */

/* CONTENT */
/* START */
#startcontent h1 {
    position: relative;
    top: 20vh;
    z-index: 0;
}