@import url('https://fonts.googleapis.com/css2?family=Shrikhand&family=Lora&family=Lato&family=Titillium+Web:wght@400;700;900&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    background-color: #ffd42a;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
H1, H2, H3, H4, H5, H6 {
    font-family: "Titillium Web", serif;
    font-weight: 700;
    text-transform: uppercase;
}
P {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
}
#startbackground {
    background-image: url("Oscar-background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
/* TOP FIXED BAR */
#navbarfixed {
    position: fixed;
    margin-top: 0px;
    width: 100vw;
    height: 50px;
    background-color: #ffd42aA0;
}
/* Push down the content below FIXED BAR */
.contentpusher {
    height: 50px;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}
/* HEADER */
header {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
}
#oscar-logo {
    width: auto;
    margin-top: 5px;
    height: 40px;
    float: left;
}
/* #navbarline {
    position: absolute;
    z-index: -1;
    top: 22.5px;
    background-color: #ff0000;
    height: 5px;
    width: inherit;
} */

/* L-REVERSE */
#l-reverse {
    width: auto;
    margin-top: 5px;
    height: 40px;
    float: right;
}
/* NAVIGATION */
nav {
    float: right;
    margin-right: 10px;
    height: 50px;
    display: table;
}
#mainnav {
    display: table-cell;
    vertical-align: middle;

}
header ul {
    list-style-type: disc;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}
header li {
    display: inline-block;
}
header a {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    color: black;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px 10px;
}
#mainnav a:hover {
    animation-name: hovernav;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
@keyframes hovernav {
    100%    {transform: scale(1.1);}
}
/* CONTENT */
#startheadline {
    position: relative;
    top: 20vh;
    font-family: "Titillium Web", serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 0.8em;
    color: #ffd42a;
}
.contentparent {
    width: 850px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
.contentcontainer {
    margin-left: auto;
    margin-right: auto;
    width: inherit;
    padding: 0px;
    height: 100vh;
}
/* FOOTER */
footer {
    height: 50px;
    bottom: 0px;
    width: 100vw;
}
#footercontent {
    width: 850px;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border: solid 1px black;
}